In [3]:
import pandas as pd

In [4]:
companies = {
    'Value':    [220, 160, 140, 117, 94],
    'Change':   [17.5, 11.9, -8.5, -2.1, 3.5],
    'Sector':   ['Retail', 'Tech', 'Tech', 'Tech', 'Tech']
}

data = pd.DataFrame(companies, index=['Amazon', 'Google', 'Apple', 'Microsoft', 'Samsung'])
data

           Value  Change  Sector
Amazon       220    17.5  Retail
Google       160    11.9    Tech
Apple        140    -8.5    Tech
Microsoft    117    -2.1    Tech
Samsung       94     3.5    Tech