In [129]:
import requests
import pandas as pd

In [140]:
url = 'http://jsonplaceholder.typicode.com/users'
res = requests.get(url)
all_users = res.json()

In [141]:
df = pd.json_normalize(all_users)

In [143]:
df = df[['username','email','address.zipcode','address.geo.lat','address.geo.lng','company.name']]
df.rename(columns={'address.zipcode':'zipcode','address.geo.lat':'lat', 'address.geo.lng':'lng','company.name':'company_name'}, inplace=True)

In [154]:
df

,username,email,zipcode,lat,lng,company_name
0,Bret,Sincere@april.biz,92998-3874,-37.3159,81.1496,Romaguera-Crona
1,Antonette,Shanna@melissa.tv,90566-7771,-43.9509,-34.4618,Deckow-Crist
2,Samantha,Nathan@yesenia.net,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson
3,Karianne,Julianne.OConner@kory.org,53919-4257,29.4572,-164.2990,Robel-Corkery
4,Kamren,Lucio_Hettinger@annie.ca,33263,-31.8129,62.5342,Keebler LLC
5,Leopoldo_Corkery,Karley_Dach@jasper.info,23505-1337,-71.4197,71.7478,Considine-Lockman
6,Elwyn.Skiles,Telly.Hoeger@billy.biz,58804-1099,24.8918,21.8984,Johns Group
7,Maxime_Nienow,Sherwood@rosamond.me,45169,-14.3990,-120.7677,Abernathy Group
8,Delphine,Chaim_McDermott@dana.io,76495-3109,24.6463,-168.8889,Yost and Sons
9,Moriah.Stanton,Rey.Padberg@karina.biz,31428-2261,-38.2386,57.2232,Hoeger LLC

In [161]:
df['lng'] = df['lng'].astype(str).astype(float)
df['lat'] = df['lat'].astype(str).astype(float)

df = df[df['lng'] > 0]
df_a = df[df['lat'] < 0]
df_a

,username,email,zipcode,lat,lng,company_name
0,Bret,Sincere@april.biz,92998-3874,-37.3159,81.1496,Romaguera-Crona
4,Kamren,Lucio_Hettinger@annie.ca,33263,-31.8129,62.5342,Keebler LLC
5,Leopoldo_Corkery,Karley_Dach@jasper.info,23505-1337,-71.4197,71.7478,Considine-Lockman
9,Moriah.Stanton,Rey.Padberg@karina.biz,31428-2261,-38.2386,57.2232,Hoeger LLC

In [162]:
df_a.to_csv('output.csv')