In [1]:
import numpy as np

In [2]:
dt = np.array([1, 2])
print(dt.dtype)            # Output > "int64"

dt = np.array([1.0, 2.0])
print(dt.dtype)          # Output > "float64"

dt = np.array([1, 2], dtype=np.float64)     # Force a particular datatype
print(dt)
print(dt.dtype)

int64
float64
[1. 2.]
float64

In [3]:
student = np.dtype([('name', np.unicode_, 10), ('age', np.int64), ('marks', np.float64)])
# <U10 is unicode with 10 characters
# <i8 is 64-bit integer
# <f8 is 64-bit float
print(student)

[('name', '<U10'), ('age', '<i8'), ('marks', '<f8')]

In [4]:
ms_student = np.array([('student1', 20, 100), ('student2withlongname', 22, 89)], dtype = student)
print(ms_student)
print(ms_student.dtype)

[('student1', 20, 100.) ('student2wi', 22,  89.)]
[('name', '<U10'), ('age', '<i8'), ('marks', '<f8')]