In [1]:
import pandas as pd

In [3]:
df1=pd.DataFrame({'employee': ['Gary', 'Stu', 'Mary', 'Sue'],
                  'group': ['Accounting', 'Marketing', 'Marketing', 'HR']})
df1

  employee       group
0     Gary  Accounting
1      Stu   Marketing
2     Mary   Marketing
3      Sue          HR

In [4]:
df2=pd.DataFrame({'employee': ['Mary', 'Stu', 'Gary', 'Sue'],
                  'hire_date': [2008, 2012, 2017, 2018]})
df2

  employee  hire_date
0     Mary       2008
1      Stu       2012
2     Gary       2017
3      Sue       2018

In [5]:
#Combine the information into a singl Dataframe using the merge function
df_combined = pd.merge(df1,df2)
df_combined

  employee       group  hire_date
0     Gary  Accounting       2017
1      Stu   Marketing       2012
2     Mary   Marketing       2008
3      Sue          HR       2018

In [6]:
df3= pd.DataFrame({'group': ['Accounting', 'Marketing', 'HR'],
                   'supervisor': ['Carlos', 'Giada', 'Stephanie']})
df3

SyntaxError: invalid syntax (<ipython-input-6-f77b895640a4>, line 2)