In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv('sales_data_sample.csv', encoding='latin')
sales

In [4]:
sales.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [6]:
data = pd.DataFrame(sales.loc[:50,['ORDERNUMBER', 'CUSTOMERNAME',
       'ADDRESSLINE1', 'POSTALCODE', 'STATUS']])
data.to_csv('new_sales.csv')

In [7]:
users = pd.read_json('users.json')

In [8]:
users

   id first_name  last_name                   email  gender      ip_address
0   1   Jeanette  Penddreth  jpenddreth0@census.gov  Female     26.58.193.2
1   2    Giavani   Frediani   gfrediani1@senate.gov    Male   229.179.4.212
2   3      Noell        Bea     nbea2@imageshack.us  Female  180.66.162.255
3   4    Willard      Valek          wvalek3@vk.com    Male    67.76.188.26

In [9]:
import numpy as np

In [10]:
dfj = pd.DataFrame(np.random.randn(5, 2), columns=['record1', 'record2'])
dfj.to_json('new_users.json', orient= 'columns')

In [11]:
import requests

In [12]:
url ='http://jsonplaceholder.typicode.com/users'
res = requests.get(url)

In [13]:
all_users = res.json()
all_users[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874',
  'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company': {'name': 'Romaguera-Crona',
  'catchPhrase': 'Multi-layered client-server neural-net',
  'bs': 'harness real-time e-markets'}}

In [14]:
users.to_json('api_response.json', orient='records')

In [15]:
users.to_json('api_response_split.json', orient='split')

In [16]:
users.to_json('api_response_index.json', orient='index')

In [18]:
users.to_json('api_response_value.json', orient='values')

In [19]:
users.to_json('api_response_table.json', orient='table')

In [20]:
users.to_json('api_response_column.json', orient='columns')