In [8]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages (1.1.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/2.2.0/libexec/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

In [9]:
data = {
    'apples': [3,2,0,1],
    'oranges':[0,3,7,2],
    'peaches':[2,4,6,8]
}
fruits = pd.DataFrame(data)
fruits

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [10]:
buyer = pd.DataFrame(data, index=['Tom', 'Isabelle', 'Daisy', 'Blathers'])
buyer

          apples  oranges  peaches
Tom            3        0        2
Isabelle       2        3        4
Daisy          0        7        6
Blathers       1        2        8

In [11]:
buyer.loc['Tom']

apples     3
oranges    0
peaches    2
Name: Tom, dtype: int64

In [15]:
buyer = buyer * 1_000_000
buyer

           apples  oranges  peaches
Tom       3000000        0  2000000
Isabelle  2000000  3000000  4000000
Daisy           0  7000000  6000000
Blathers  1000000  2000000  8000000

In [16]:
buyer > 6_000_000

          apples  oranges  peaches
Tom        False    False    False
Isabelle   False    False    False
Daisy      False     True    False
Blathers   False    False     True