In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({'employee': ['Gary', 'Stu', 'Mary',  'Sue'],'group':['Accounting','Marketing','HR']})
df1

In [ ]:
df2 = pd.DataFrame({'employee': ['Mary', 'Stu', 'Gary', 'Sue'], 'hire_date': [2008, 2012, 2017, 2018]})
df2

In [ ]:
# Combine this information into a single DataFrame using the merge function
df_combined = pd.merge(df1, df2)
df_combined

In [ ]:
df3 = pd.DataFrame({'group': ['Accounting', 'Marketing', 'HR'], 'Supervisor': ['Carlos', 'Stephanie']})
df3

In [ ]:
pd.merge(df_combined, df3)

In [ ]:
pd.merge(df_combined, df3, on='group')

In [ ]:
df4 = pd.DataFrame({'group': ['Accounting', 'Accounting', 'Marketing', 'Markeing', 'HR', 'HR'], 'core_skills':['math', 'speadsheets', 'writing', 'communication', 'speadsheets', 'organization']})
df4

In [ ]:
pd.merge(df1, df4, on='group')

In [ ]:
left = pd.DataFrame({
   'id': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1', 'sub2', 'sub4', 'sub6', 'sub5']})
   left

In [ ]:
right = pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id':['sub2', 'sub4' ,'sub3', 'sub6', 'sub5']})
right

In [ ]:
pd.merge(left, right, on='subject_id', how='inner')

In [ ]:
pd.DataFrame({'name': ['Gary', 'Stu', 'Mary', 'Sue'],
'salary': [70000, 80000, 120000, 90000]})
df5

In [ ]:
pd.merge(df1, df5, left_on="employee", right_on="name")

In [ ]:
one = pd.DataFrame('A': ['a', 'c'],['B', 'd']})

one

In [ ]:
two = pd.DataFrame({'A': [1,2],'B': [3, 4]})

two

In [32]:
pd.concat([one, two], ignore_index=True, axis=1)

NameError: name 'one' is not defined