In [1]:
import pandas as pd

In [2]:
series = pd.Series([1,3,5,6,8])
series

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [3]:
data = {
    'apples': [3,2,0,1],
    'oranges': [0,3,7,2],
    'peaches': [2,4,6,8]
}

fruits = pd.DataFrame(data)
fruits

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [4]:
buyer = pd.DataFrame(data, index=['Tom', 'Isabelle', 'Daisy', 'Balthers'])
buyer

          apples  oranges  peaches
Tom            3        0        2
Isabelle       2        3        4
Daisy          0        7        6
Balthers       1        2        8

In [5]:
buyer.loc['Tom'] #locate by index label

apples     3
oranges    0
peaches    2
Name: Tom, dtype: int64

In [ ]:
#multiply all values by 1,000,000
buyer = buyer * 1_000_000
buyer