In [6]:
pip install pandas --user

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/2f/30/5ab95bee54e0221160af169bdb36c2eb5c65e0549a4c143d54aa515e2f27/pandas-1.1.0-cp37-cp37m-macosx_10_9_x86_64.whl
Requirement already satisfied: numpy>=1.15.4 in /Users/xuwenzhi/Library/Python/3.7/lib/python/site-packages (from pandas) (1.19.1)
Collecting pytz>=2017.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/xuwenzhi/Library/Python/3.7/lib/python/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.0 pytz-2020.1
You are using pip version 19.0.3, however version 20.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [9]:
series  = pd.Series([1, 3, 5, 6, 8])
series

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [10]:
data = {
    'apples' : [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2],
    'peaches': [2, 4, 6, 8]
}
fruits = pd.DataFrame(data)
fruits

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [14]:
buyer = pd.DataFrame(data, index=['Tome', 'Isabelle', 'Daisy', 'Blathers'])
buyer

          apples  oranges  peaches
Tome           3        0        2
Isabelle       2        3        4
Daisy          0        7        6
Blathers       1        2        8

In [15]:
buyer = buyer * 1_000_000
buyer

           apples  oranges  peaches
Tome      3000000        0  2000000
Isabelle  2000000  3000000  4000000
Daisy           0  7000000  6000000
Blathers  1000000  2000000  8000000

In [16]:
buyer > 6_000_000

          apples  oranges  peaches
Tome       False    False    False
Isabelle   False    False    False
Daisy      False     True    False
Blathers   False    False     True