In [4]:
import pandas as pd

In [6]:
data = {
    'apples': [3,2,0,1],
    'oranges':[0,3,7,2],
    'peaches':[2,4,6,8]
}
fruits = pd.DataFrame(data)
fruits

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [7]:
buyer =pd.DataFrame(data, index=['Tom', 'Isabelle', 'Daisy', 'Blathers'])
buyer

AttributeError: module 'pandas' has no attribute 'Dataframe'