In [1]:
import pandas as pd

In [2]:
series = pd.Series([1, 2, 3, 4, 5])

In [3]:
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data = {'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2], 'peaches': [2, 4, 6, 8]}

In [5]:
data

{'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2], 'peaches': [2, 4, 6, 8]}

In [6]:
fruit = pd.DataFrame(data)

In [7]:
fruit

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [8]:
buyer = pd.DataFrame(data, index= ['Tom', 'Isabelle', 'Daisy', 'Blathers'])

In [9]:
buyer

          apples  oranges  peaches
Tom            3        0        2
Isabelle       2        3        4
Daisy          0        7        6
Blathers       1        2        8

In [13]:
buyer.loc['Tom']

apples     3
oranges    0
peaches    2
Name: Tom, dtype: int64

In [14]:
buyer = buyer * 1000000

In [15]:
buyer

           apples  oranges  peaches
Tom       3000000        0  2000000
Isabelle  2000000  3000000  4000000
Daisy           0  7000000  6000000
Blathers  1000000  2000000  8000000

In [16]:
buyer > 6000000

          apples  oranges  peaches
Tom        False    False    False
Isabelle   False    False    False
Daisy      False     True    False
Blathers   False    False     True