In [1]:
import pandas as pd

In [3]:
companies = {
    'Value': [220,160,140,117,94],
    'Change': [17.5, 11.9, -8.5, -2.1, 3.5],
    'Sector': ['Ratail','Tech','Tech','Tech','Tech']
}
data = pd.DataFrame(companies, index=['Amazon', 'Google', 'Apple', 'Microsoft', 'Samsuang'])
data

           Value  Change  Sector
Amazon       220    17.5  Ratail
Google       160    11.9    Tech
Apple        140    -8.5    Tech
Microsoft    117    -2.1    Tech
Samsuang      94     3.5    Tech

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Amazon to Samsuang
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   5 non-null      int64
 1   Change  5 non-null      float64
 2   Sector  5 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 160.0+ bytes

In [5]:
data.columns

Index(['Value', 'Change', 'Sector'], dtype='object')

In [6]:
data.index

Index(['Amazon', 'Google', 'Apple', 'Microsoft', 'Samsuang'], dtype='object')