In [42]:
import numpy as np
import pandas as pd

In [43]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)), index=[['a','a','b','b'],[1,2,1,2]], columns = [['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [44]:
frame1 = frame.stack().stack()
frame1

a  1  Green  Colorado     2.0
             Ohio         0.0
      Red    Ohio         1.0
   2  Green  Colorado     5.0
             Ohio         3.0
      Red    Ohio         4.0
b  1  Green  Colorado     8.0
             Ohio         6.0
      Red    Ohio         7.0
   2  Green  Colorado    11.0
             Ohio         9.0
      Red    Ohio        10.0
dtype: float64

In [45]:
frame2 = frame.unstack().unstack()
frame2

Ohio      Green  1  a     0
                    b     6
                 2  a     3
                    b     9
          Red    1  a     1
                    b     7
                 2  a     4
                    b    10
Colorado  Green  1  a     2
                    b     8
                 2  a     5
                    b    11
dtype: int32

In [46]:
# Apply a series of .swaplevel() and a .sort_index() to frame 2 so that it is the same as frame 1

frame2 = frame2.swaplevel(0,3).sort_index()
#frame2
frame2.swaplevel(1,2).sort_index()

a  1  Green  Colorado     2
             Ohio         0
      Red    Ohio         1
   2  Green  Colorado     5
             Ohio         3
      Red    Ohio         4
b  1  Green  Colorado     8
             Ohio         6
      Red    Ohio         7
   2  Green  Colorado    11
             Ohio         9
      Red    Ohio        10
dtype: int32