In [5]:
import numpy as np
import pandas as pd

In [6]:
ex1 = pd.Series([0, np.nan, '', None])
ex1

0       0
1     NaN
2
3    None
dtype: object

In [7]:
ex2 = np.array([2, np.nan, 6, 8])
ex2.sum(), ex2.min(), ex2.max()

(nan, nan, nan)

In [8]:
ex1.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [10]:
ex1[ex1.notnull()]

0    0
2
dtype: object

In [11]:
ex1.dropna()

0    0
2
dtype: object

In [13]:
ex3 = pd.DataFrame([[1, np.nan, 7],
                    [2, 5, 8],
                    [np.nan, 6, 9]])
ex3.dropna()

     0    1  2
1  2.0  5.0  8

In [14]:
ex3.fillna(0)

     0    1  2
0  1.0  0.0  7
1  2.0  5.0  8
2  0.0  6.0  9

In [ ]:
dup = pd.DataFrame({'letters': ['A', 'B'] * 2 + ['B'],
                    'numbers': [1, 2, 1, 3, 3]})