In [1]:
import pandas as pd

In [2]:
companies = { 
    'Value' :  [220, 160, 140, 117, 94],
    'Changes': [17.5, 11.9, -8.5, -2.1, 3.5],
    'Sector': ['Ratail', 'Tech', 'Tech', 'Tech', 'Tech']
}
data = pd.DataFrame(companies, index = ['Amazon', 'Google', 'Apple', 'Microsoft', 'SamSung'])
data

           Value  Changes  Sector
Amazon       220     17.5  Ratail
Google       160     11.9    Tech
Apple        140     -8.5    Tech
Microsoft    117     -2.1    Tech
SamSung       94      3.5    Tech

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Amazon to SamSung
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Value    5 non-null      int64
 1   Changes  5 non-null      float64
 2   Sector   5 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 120.0+ bytes

In [4]:
data.coloumns

AttributeError: 'DataFrame' object has no attribute 'coloumns'

In [5]:
data.columns

Index(['Value', 'Changes', 'Sector'], dtype='object')

In [6]:
data.index

Index(['Amazon', 'Google', 'Apple', 'Microsoft', 'SamSung'], dtype='object')

In [7]:
data.describe()

            Value    Changes
count    5.000000   5.000000
mean   146.200000   4.460000
std     48.095738  10.456003
min     94.000000  -8.500000
25%    117.000000  -2.100000
50%    140.000000   3.500000
75%    160.000000  11.900000
max    220.000000  17.500000

In [8]:
data.loc[data['Value'] > 150]

        Value  Changes  Sector
Amazon    220     17.5  Ratail
Google    160     11.9    Tech

In [9]:
data['Changes']

Amazon       17.5
Google       11.9
Apple        -8.5
Microsoft    -2.1
SamSung       3.5
Name: Changes, dtype: float64

In [10]:
data

           Value  Changes  Sector
Amazon       220     17.5  Ratail
Google       160     11.9    Tech
Apple        140     -8.5    Tech
Microsoft    117     -2.1    Tech
SamSung       94      3.5    Tech

In [11]:
data.iloc[3]

Value       117
Changes    -2.1
Sector     Tech
Name: Microsoft, dtype: object

In [12]:
data.iloc[1:4,1:3]

           Changes Sector
Google        11.9   Tech
Apple         -8.5   Tech
Microsoft     -2.1   Tech

In [13]:
data[0:3]

        Value  Changes  Sector
Amazon    220     17.5  Ratail
Google    160     11.9    Tech
Apple     140     -8.5    Tech

In [14]:
data['Amazone':'Microsoft']

KeyError: 'Amazone'

In [15]:
data['Amazon': 'Microsoft']

           Value  Changes  Sector
Amazon       220     17.5  Ratail
Google       160     11.9    Tech
Apple        140     -8.5    Tech
Microsoft    117     -2.1    Tech

In [16]:
data

           Value  Changes  Sector
Amazon       220     17.5  Ratail
Google       160     11.9    Tech
Apple        140     -8.5    Tech
Microsoft    117     -2.1    Tech
SamSung       94      3.5    Tech

In [17]:
data['Value'].mul(2)

Amazon       440
Google       320
Apple        280
Microsoft    234
SamSung      188
Name: Value, dtype: int64

In [18]:
data['Value'].sub(2)

Amazon       218
Google       158
Apple        138
Microsoft    115
SamSung       92
Name: Value, dtype: int64

In [19]:
data['Value'].add(2)

Amazon       222
Google       162
Apple        142
Microsoft    119
SamSung       96
Name: Value, dtype: int64

In [20]:
divmod()

TypeError: divmod expected 2 arguments, got 0

In [22]:
div, rem = divmod(data['Value'],2)
div,rem

(Amazon       110
 Google        80
 Apple         70
 Microsoft     58
 SamSung       47
 Name: Value, dtype: int64,
 Amazon       0
 Google       0
 Apple        0
 Microsoft    1
 SamSung      0
 Name: Value, dtype: int64)

In [23]:
data

           Value  Changes  Sector
Amazon       220     17.5  Ratail
Google       160     11.9    Tech
Apple        140     -8.5    Tech
Microsoft    117     -2.1    Tech
SamSung       94      3.5    Tech

In [24]:
data,mean()

NameError: name 'mean' is not defined

In [25]:
data.mean()

Value      146.20
Changes      4.46
dtype: float64

In [28]:
data.sum(0)

Value                         731
Changes                      22.3
Sector     RatailTechTechTechTech
dtype: object

In [29]:
data.sum(1)

Amazon       237.5
Google       171.9
Apple        131.5
Microsoft    114.9
SamSung       97.5
dtype: float64

In [30]:
data.std()

Value      48.095738
Changes    10.456003
dtype: float64

In [31]:
data.quantile(.5)

Value      140.0
Changes      3.5
Name: 0.5, dtype: float64

In [32]:
data.min()

Value          94
Changes      -8.5
Sector     Ratail
dtype: object

In [33]:
data.cumsum()

           Value  Changes                  Sector
Amazon       220     17.5                  Ratail
Google       380     29.4              RatailTech
Apple        520     20.9          RatailTechTech
Microsoft    637     18.8      RatailTechTechTech
SamSung      731     22.3  RatailTechTechTechTech

In [34]:
data.count()

Value      5
Changes    5
Sector     5
dtype: int64