In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'employee': ['Gary', 'Stu', 'Mary', 'Sue'], 'group': ['Accounting', 'Marketing', 'Marketing', 'HR']})
df1

  employee       group
0     Gary  Accounting
1      Stu   Marketing
2     Mary   Marketing
3      Sue          HR

In [ ]:
df2 = pd.DataFrame({'employee': ['Mary','Stu', 'Gary', 'Sue'],
'hire_date': [2008, 2012, 2017, 2018]})