In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ex2 = np.array([2, np.nan, 6, 8])
ex2.Sum(), ex2.min(), ex2.max()

In [ ]:
ex1 = pd.Series([0, np.nan,'',None])
ex1

In [ ]:
ex1.isnull()

In [ ]:
ex1[ex1.notnull()]

In [ ]:
ex1.dropna()

In [ ]:
ex3 = pd.DataFrame([[1,   np.nan, 7]),
                    [2,   5,       8],
                    [np.nan, 6,  9]]) 
ex3.dropna()

In [ ]:
ex3.fillna(0)

In [ ]:
dup = pd.DataFrame({'letters':['A', 'B'] * 2 + ['B'],
'numbers': [1, 2, 1, 3, 3]})
dup

In [ ]:
dup.duplicated()

In [ ]:
dup.drop_duplicates(['letters'])

In [ ]:
sales = pd.read_csv('../Module5/sales_data_sample.csv', encoding='latin')

In [ ]:
data = pd.DataFrame(sales.loc[:50,['ORDERNUMBER','QUANTITYORDERED','SALES', 'CUSTOMERNAME','ADDRESSLINE1','POSTALCODE', 'STATUS']])

In [ ]:
### RENAME COLUMN Name /Inplace
data.rename(columns={'ORDERNUMBER':'ORDER_ID', 'ADDRESSLINE1':'aDDRESS'},inplace=True)
Data

In [ ]:
### Selecting All Columns Except One
data.columns[data.columns != 'STATUS']

In [ ]:
### Selecting sales > 5000
data[data['SALES']>5000]

In [ ]:
### look for Custmer names that is a limited company
data[data['CUSTOMER'].str.contains('LTD')]

In [ ]:
###Update string  values based on conditions
data.loc[(data.Sales>5000), 'STATUS'] = 'Canceled'
data