In [1]:
import numpy as np

In [2]:
dt = np.array([1,2])
print(dt.dtype)

int32

In [4]:
dt = np.array([1.0, 2.0])
print(dt.dtype)

float64

In [6]:
dt = np.array([1,2], dtype=np.float64)
print(dt)
print(dt.dtype)

[1. 2.]
float64

In [7]:
student = np.dtype([
    ('name', np.unicode_,10),
    ('age', np.int64,),
    ('marks', np.float64)
])

print(student)

[('name', '<U10'), ('age', '<i8'), ('marks', '<f8')]

In [8]:
ms_student = np.array([
    ('studnet1', 20, 100),
    ('student2withlongname', 22,89)
], dtype=student)
print(ms_student)
print(ms_student.dtype)