In [119]:
import numpy as np
import pandas as pd

In [120]:
ex1 = pd.Series([0, np.nan, '', None])
ex1

0       0
1     NaN
2
3    None
dtype: object

In [121]:
ex2 = np.array([2, np.nan, 6, 8])
ex2.sum(), ex2.min(), ex2.max()

(nan, nan, nan)

In [122]:
ex1.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [123]:
ex1[ex1.notnull()]

0    0
2
dtype: object

In [124]:
ex1.dropna()

0    0
2
dtype: object

In [125]:
ex3 = pd.DataFrame([[1,     np.nan, 7],
                  [2,      5,      8],
                  [np.nan, 6,      9]])
ex3.dropna()

     0    1  2
1  2.0  5.0  8

In [126]:
ex3.fillna(0)

     0    1  2
0  1.0  0.0  7
1  2.0  5.0  8
2  0.0  6.0  9

In [127]:
dup = pd.DataFrame({'letters': ['A', 'B'] * 2 + ['B'],
                   'numbers': [1,2,1,3,3]})
dup

  letters  numbers
0       A        1
1       B        2
2       A        1
3       B        3
4       B        3

In [128]:
dup.duplicated()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [129]:
dup.drop_duplicates()

  letters  numbers
0       A        1
1       B        2
3       B        3

In [130]:
dup.drop_duplicates(['letters'])

  letters  numbers
0       A        1
1       B        2

In [131]:
sales = pd.read_csv('../Module5/sales_data_sample.csv', encoding ='latin')

FileNotFoundError: [Errno 2] No such file or directory: '../Module5/sales_data_sample.csv'

In [ ]:
data = pd.DataFrame(sales.loc[:50,['ORDERNUMBER', 'QUANTITYORDERED', 'SALES', 'CUSTOMERNAME','ADDRESSLINE1',
                                  'POSTALCODE', 'STATUS']])
data