In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
ex1=pd.Series([0,np.nan,'',None])
ex1

0       0
1     NaN
2
3    None
dtype: object

In [6]:
ex2=np.array([2,np.nan,6,8])
ex2.sum(),ex2.min(), ex2.max()

(nan, nan, nan)

In [7]:
ex1.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [8]:
ex1[ex1.notnull()]

0    0
2
dtype: object

In [9]:
ex1.dropna()

0    0
2
dtype: object

In [13]:
ex3=pd.DataFrame([[1,      np.nan, 7],[2,    5,    8],[np.nan, 6,    9]])
ex3.dropna()

     0    1  2
1  2.0  5.0  8

In [14]:
ex3.fillna(0)

     0    1  2
0  1.0  0.0  7
1  2.0  5.0  8
2  0.0  6.0  9

In [15]:
dup=pd.DataFrame({'letters': ['A','B'] *2 + ['B'],'numbers': [1,2,1,3,3]})
dup

  letters  numbers
0       A        1
1       B        2
2       A        1
3       B        3
4       B        3

In [16]:
dup.drop_duplicates()

  letters  numbers
0       A        1
1       B        2
3       B        3

In [17]:
dup.drop_duplicates(['letters'])

  letters  numbers
0       A        1
1       B        2

In [28]:

import pandas
excel_data_df = pandas.read_excel('C:\Users\jaiso\Desktop\CS612-new\CS612-Summer-2020\ON\JaiSim\Module5\sales_data_sample.csv')

# print whole sheet data
print(excel_data_df)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-28-5b56bb17a5eb>, line 2)