In [1]:
import numpy as np

In [2]:
dt = np.array([1, 2])

In [3]:
dt

array([1, 2])

In [4]:
dt.dtype

dtype('int32')

In [5]:
dt = np.array([1.0, 2.0])

In [6]:
dt.dtype

dtype('float64')

In [7]:
dt = np.array([1, 2], dtype = np.float64)

In [8]:
dt

array([1., 2.])

In [9]:
print(dt)

[1. 2.]

In [10]:
dt.dtype

dtype('float64')

In [11]:
student = np.dtype([('name', np.unicode_, 10), ('age', np.int32), ('marks', np.float64)])
student

dtype([('name', '<U10'), ('age', '<i4'), ('marks', '<f8')])

In [12]:
print(student)

[('name', '<U10'), ('age', '<i4'), ('marks', '<f8')]

In [13]:
ms_student = np.array([('student1', 20, 100), ('studentwithsuppppppperlongname', 22, 89)], dtype = student)

In [14]:
print(ms_student)

[('student1', 20, 100.) ('studentwit', 22,  89.)]

In [15]:
ms_student.dtype

dtype([('name', '<U10'), ('age', '<i4'), ('marks', '<f8')])