In [45]:
import pandas as pd
import numpy as np

np.random.seed(1234)
data = np.random.randint(0,48,size=(6,8))
data1 = pd.DataFrame(data1, columns=['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight'], index=['A', 'B', 'C', 'D', 'E', 'F'])
data1['IQR']=data1.quantile(0.75, axis=1)-data1.quantile(0.25, axis=1)
data1['CV']=data1.std(axis=1)/data1.mean(axis=1)
data1['mean']=data1.mean(axis=1)

data1

   One  Two  Three  Four  Five  Six  Seven  Eight    IQR        CV       mean
A   47   19     38    12    24   15     23     41  20.75  0.462221  24.021222
B   26   30     43    30    44   26     28      5   7.25  0.504430  23.975443
C   16    9     47    12    37   34     38      3  26.00  0.619488  22.261949
D   39   11      0    41    11   16      3      2  19.00  0.959525  14.295952
E   19   12      1    11    43   17     14      7   7.50  0.818754  13.231875
F   42   43     46    28    17   23     13     32  20.75  0.410491  26.516049