In [32]:
import pandas as pd

In [33]:
series = pd.Series([1, 3, 5, 6, 8])
series

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [34]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2],
    'peaches': [2, 4, 6, 8]
}
fruits = pd.DataFrame(data)
fruits

   apples  oranges  peaches
0       3        0        2
1       2        3        4
2       0        7        6
3       1        2        8

In [35]:
buyer = pd.DataFrame(data, index=['Tom', 'Isabelle', 'Daisy', 'Blathers'])
buyer

          apples  oranges  peaches
Tom            3        0        2
Isabelle       2        3        4
Daisy          0        7        6
Blathers       1        2        8

In [36]:
buyer.loc['Tom']

apples     3
oranges    0
peaches    2
Name: Tom, dtype: int64

In [37]:
# multiply 1,000,000 to each fruit
buyer = buyer * 1_000_000
buyer

           apples  oranges  peaches
Tom       3000000        0  2000000
Isabelle  2000000  3000000  4000000
Daisy           0  7000000  6000000
Blathers  1000000  2000000  8000000

In [38]:
buyer > 6_000_000

          apples  oranges  peaches
Tom        False    False    False
Isabelle   False    False    False
Daisy      False     True    False
Blathers   False    False     True