In [15]:
import numpy as np
import pandas as pd

In [16]:
ex1 = pd.Series([0, np.nan, '', None])
ex1

0       0
1     NaN
2
3    None
dtype: object

In [17]:
ex2 = np.array([2, np.nan, 6, 8])
ex2.sum(), ex2.min(), ex2.max()

(nan, nan, nan)

In [18]:
ex1.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [19]:
ex1[ex1.notnull()]

0    0
2
dtype: object

In [20]:
ex1.dropna()

0    0
2
dtype: object

In [21]:
ex3 = pd.DataFrame([[1,      np.nan, 7],
                    [2,           5, 8],
                    [np.nan,      6, 8]])
ex3.dropna()

     0    1  2
1  2.0  5.0  8

In [22]:
ex3.fillna(0)

     0    1  2
0  1.0  0.0  7
1  2.0  5.0  8
2  0.0  6.0  8

In [24]:
dup = pd.DataFrame({'letters': ['A', 'B'] * 2 + ['B'],
                    'numbers': [1,2,1,3,3]})
dup

  letters  numbers
0       A        1
1       B        2
2       A        1
3       B        3
4       B        3

In [25]:
dup.duplicated()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [26]:
dup.drop_duplicates()

  letters  numbers
0       A        1
1       B        2
3       B        3

In [27]:
dup.drop_duplicates(['letters'])

  letters  numbers
0       A        1
1       B        2

In [28]:
sales = pd.read_csv('../Module5/sales_data_sample.csv', encoding='latin')

In [29]:
data = pd.DataFrame(sales.loc[:50, ['ORDERNUMBER', 'QUANTITYORDERED', 'SALES','CUSTOMERNAME', 'ADDRESSLINE1']])
data

,ORDERNUMBER,QUANTITYORDERED,SALES,CUSTOMERNAME,ADDRESSLINE1
0,10107,30,2871.00,Land of Toys Inc.,897 Long Airport Avenue
1,10121,34,2765.90,Reims Collectables,59 rue de l'Abbaye
2,10134,41,3884.34,Lyon Souveniers,27 rue du Colonel Pierre Avia
3,10145,45,3746.70,Toys4GrownUps.com,78934 Hillside Dr.
4,10159,49,5205.27,Corporate Gift Ideas Co.,7734 Strong St.
5,10168,36,3479.76,Technics Stores Inc.,9408 Furth Circle
6,10180,29,2497.77,Daedalus Designs Imports,"184, chausse de Tournai"
7,10188,48,5512.32,Herkku Gifts,"Drammen 121, PR 744 Sentrum"
8,10201,22,2168.54,Mini Wheels Co.,5557 North Pendale Street
9,10211,41,4708.44,Auto Canal Petit,"25, rue Lauriston"
10,10223,37,3965.66,"Australian Collectors, Co.",636 St Kilda Road
11,10237,23,2333.12,Vitachrome Inc.,2678 Kingston Rd.
12,10251,28,3188.64,Tekni Collectables Inc.,7476 Moss Rd.
13,10263,34,3676.76,Gift Depot Inc.,25593 South Bay Ln.
14,10275,45,4177.35,La Rochelle Gifts,"67, rue des Cinquante Otages"
15,10285,36,4099.68,Marta's Replicas Co.,39323 Spinnaker Dr.
16,10299,23,2597.39,"Toys of Finland, Co.",Keskuskatu 45
17,10309,41,4394.38,Baane Mini Imports,Erling Skakkes gate 78
18,10318,46,4358.04,Diecast Classics Inc.,7586 Pompton St.
19,10329,42,4396.14,Land of Toys Inc.,897 Long Airport Avenue
20,10341,41,7737.93,Salzburg Collectables,Geislweg 14
21,10361,20,1451.00,Souveniers And Things Co.,"Monitor Money Building, 815 Pacific Hwy"
22,10375,21,733.11,La Rochelle Gifts,"67, rue des Cinquante Otages"
23,10388,42,3207.12,FunGiftIdeas.com,1785 First Street
24,10403,24,2434.56,"UK Collectables, Ltd.",Berkeley Gardens 12 Brewery
25,10417,66,7516.08,Euro Shopping Channel,"C/ Moralzarzal, 86"
26,10103,26,5404.62,Baane Mini Imports,Erling Skakkes gate 78
27,10112,29,7209.11,"Volvo Model Replicas, Co",Berguvsvgen 8
28,10126,38,7329.06,"Corrida Auto Replicas, Ltd","C/ Araquil, 67"
29,10140,37,7374.10,Technics Stores Inc.,9408 Furth Circle
30,10150,45,10993.50,"Dragon Souveniers, Ltd.","Bronz Sok., Bronz Apt. 3/6 Tesvikiye"
31,10163,21,4860.24,Classic Legends Inc.,5905 Pompton St.
32,10174,34,8014.82,"Australian Gift Network, Co",31 Duncan St. West End
33,10183,23,5372.57,"Classic Gift Ideas, Inc",782 First Street
34,10194,42,7290.36,"Saveley & Henriot, Co.","2, rue du Commerce"
35,10206,47,9064.89,Canadian Gift Exchange Network,1900 Oak St.
36,10215,35,6075.30,West Coast Collectables Co.,3675 Furth Circle
37,10228,29,6463.23,Cambridge Collectables Co.,4658 Baden Av.
38,10245,34,6120.34,Super Scale Inc.,567 North Pendale Street
39,10258,32,7680.64,"Tokyo Collectables, Ltd",2-2-8 Roppongi
40,10270,21,4905.39,Souveniers And Things Co.,"Monitor Money Building, 815 Pacific Hwy"
41,10280,34,8014.82,Amica Models & Co.,Via Monte Bianco 34
42,10291,37,7136.19,Scandinavian Gift Ideas,?kergatan 24
43,10304,47,10172.70,Auto Assoc. & Cie.,"67, avenue de l'Europe"
44,10312,48,11623.70,Mini Gifts Distributors Ltd.,5677 Strong St.
45,10322,40,6000.40,Online Diecast Creations Co.,2304 Long Airport Avenue
46,10333,26,3003.00,Mini Wheels Co.,5557 North Pendale Street
47,10347,30,3944.70,"Australian Collectors, Co.",636 St Kilda Road
48,10357,32,5691.84,Mini Gifts Distributors Ltd.,5677 Strong St.
49,10369,41,4514.92,Collectables For Less Inc.,7825 Douglas Av.
50,10381,36,8254.80,Corporate Gift Ideas Co.,7734 Strong St.

In [32]:
### Rename Column Name/Inplace
data.rename(columns = {'ORDERNUMBER':'ORDER_ID', 'ADDRESSLINE1':'ADDRESS'}, inplace=True)
data

TypeError: rename() got an unexpected keyword argument 'colunms'