In [1]:
import numpy as np
import pandas as pd

In [2]:
ex1 = pd.Series([0, np.nan,'',None])
ex1

0       0
1     NaN
2
3    None
dtype: object

In [5]:
ex2 = np.array([2, np.nan, 6,8])
ex2.sum(), ex2.min(), ex2.max()

(nan, nan, nan)

In [6]:
ex1.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [7]:
ex1[ex1.notnull()]

0    0
2
dtype: object

In [8]:
ex1.dropna()

0    0
2
dtype: object

In [10]:
ex3 = pd.DataFrame([[1, np.nan, 7],
                    [2, 5, 8],
                    [np.nan, 6, 9]])
ex3.dropna(axis=1)

   2
0  7
1  8
2  9

In [14]:
ex3.fillna(0)

     0    1  2
0  1.0  0.0  7
1  2.0  5.0  8
2  0.0  6.0  9

In [22]:
dup = pd.DataFrame({'letters': ['A','B'] * 2 + ['B'],
                        'numbers': [1,2,1,3,3]})
dup

  letters  numbers
0       A        1
1       B        2
2       A        1
3       B        3
4       B        3

In [18]:
dup.duplicated()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [23]:
dup.drop_duplicates()

  letters  numbers
0       A        1
1       B        2
3       B        3

In [24]:
dup.drop_duplicates(['letters'])

  letters  numbers
0       A        1
1       B        2

In [25]:
dup.drop_duplicates(['numbers'])

  letters  numbers
0       A        1
1       B        2
3       B        3

In [26]:
sales = pd.read_csv('../Module5/sales_data_sample.csv', encoding= 'latin')

In [27]:
data = pd.DataFrame(sales.loc[:50,['ORDERNUMBER', 'QUANTITYORDERED', 'SALES', 'CUSTOMERNAME', 'ADDRESSLINE1', 'POSTALCODE', 'STATUS']])
data

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['POSSTALCODE'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"